.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.tmp
*.bk
*.bkup

# Bundler
Gemfile.lock
bin/
tmp/
vendor/
.bundle/
.cache/

.kitchen/
.kitchen.local.yml
.vagrant/
.vagrant.d/
.coverage

#RVM
.ruby-version
.ruby-gemset
.rvmrc
